.footer {
  background: #23243a;
  width: 100%;
  padding: 2em 0 1em 0;
  text-align: center;
  border-top: 2px solid #ffd700;
  font-family: "Cairo", Arial, Helvetica, sans-serif;
}

.footer-nav {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.footer-nav a {
  color: #0066ff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.2s;
}

.footer-nav a:hover {
  color: #fff;
  text-shadow: 0 2px 8px #ffd70099;
}

.footer-copy {
  margin-bottom: 1em;
  color: #f5f5f5;
  font-size: 0.8em;
}


@media (max-width: 600px) {
  .footer {
    padding: 1em 0 0.5em 0;
    font-size: 0.7em;
  }
  .footer-nav {
    gap: 1em;
    align-items: center;
  }
  .footer-nav a {
    font-size: 1em;
    padding: 0.3em 0;
  }
  .footer-copy {
    font-size: 0.9em;
    margin-bottom: 0.7em;
  }
}
